<%= form_with(model: encargado, local: true) do |form| %>
  <% if encargado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(encargado.errors.count, "error") %> prohibited this encargado from being saved:</h2>

      <ul>
      <% encargado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :encargado_nombre %>
  </div>

  <div class="field">
    <%= form.label :carrera %>
    <%= form.text_field :carrera, id: :encargado_carrera %>
  </div>

  <div class="field">
    <%= form.label :semestre %>
    <%= form.number_field :semestre, id: :encargado_semestre %>
  </div>

  <div class="field">
    <%= form.label :proyecto_id %>
    <%= form.text_field :proyecto_id, id: :encargado_proyecto_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
